@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th>Inventory Name</th>
            <th>Inventory Quantity</th>
            <th>Inventory Price</th>
            <th></th>
            <th style="text-align:left"></th>
        </tr>
        @if (inventories is not null && inventories.Count > 0)
        {
            foreach (Inventory inv in inventories)
            {
                <InventoryListItemComponent Inventory="inv" />
            }
        }
    </thead>
</table>

@code {
    private List<Inventory>? inventories;

    [Parameter]
    public string? SearchInventoryFilter { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(SearchInventoryFilter ?? string.Empty)).ToList();
    }
}
